* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  min-height: 100vh;
  color: white;
}
.pagesStyle {
  padding-top: 80px !important;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 1px solid gray; */
}
.navigatMenu {
  position: fixed;
  height: 40px;
  top: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navigateShop {
  position: fixed;
  margin-top: 0px !important;
  padding: 10px !important;
}
.navPro {
  position: fixed;
  margin-top: 40px !important;
  padding: 5px !important;
}

/* ********************************************************* */
/* navigation style********************* */
.styleMenu {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  gap: 10px;
}
.styleMenu > a {
  text-decoration: none;
  color: black;
}
.listNavShop > a {
  text-decoration: none;
  color: rgb(251, 247, 247);
  font-size: 15px;
}
/* ************************************************ */
/* productsPage**** */
.navBarShopping {
  position: fixed;
  margin-top: 40px;
}
.listBox {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  gap: 10px;
  padding-top: 80px !important;
  margin-top: 98px;
}
.itemBox {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  color: #200122;
}
.imageItem {
  width: 20%;
  height: 250px;
  overflow: hidden;
  padding: 5px !important;
  border-radius: 5px;
}
.imageItem > img {
  height: 100%;
  object-fit: cover !important;
}
.descItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 5px !important;
}
input::placeholder{
padding: 5px !important;
}
input{
  padding: 5px !important;
}
/* ******************************************
caaaaaaaaaaaaaaaaart */
.cartStyle {
  padding-top: 120px !important;
  flex-direction: column !important;
}
/* **********************************************
cart-items-count */
.cart-items-count {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-boder-radius: 9px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  font-style: 12px;
  background-color: #ff0000;
  color: white;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 0px;
}
/* ****************************************formStyle******************* */
.formStyle {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formStyle > form {
  min-height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.formStyle > form > label {
  display: flex;
  justify-content: start;
}
.formStyle > form > input {
  border: none;
  border-radius: 5px;
  height: 40px;
  /* border: 1px solid rgb(136, 136, 136); */
  padding-left: 10px;
}
.formHide {
  transform: translateX(-100%);
  opacity: 0;
}
.animatSignForm {
  transform: translateX(0px);
  opacity: 1;
}
.animateLogForm {
  transform: translateX(100%);
  opacity: 0;
}
.gradient {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6f0000,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* ******************************** */
.navShop {
  background-color: #200122;
  position: fixed;
}
.parentImg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageFrame {
  width: 300px;
  height: 300px;
}
.imageFrame > img {
  width: 300px !important;
  height: 300px !important;
  object-fit: cover !important;
}
.secondPara {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formSign {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 80px !important;
}
.formSign > form {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
