.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.pagesStyle{
  padding-top: 40px;
}
.navigatMenu{
  position: fixed;
  height: 40px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ********************************************************* */
/* navigation style********************* */
.styleMenu{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: row !important;
  gap: 10px;
}
.styleMenu>a{
  text-decoration: none;
  color: black;
}
.listNavShop>a{
  text-decoration: none;
  color: rgb(251, 247, 247);
  font-size: 15px;
}
/* ************************************************ */
/* productsPage**** */
.navBarShopping{
  position: fixed;
  margin-top: 40px;

}
.listBox{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  gap: 10px;
  padding-top: 80px;
}
.itemBox{
  width: 80%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.imageItem{
  width: 20%;
  height: 250px;
  overflow: hidden;
  padding: 5px;
  border-radius: 5px;
}
.imageItem>img{

  height: 100%;
  object-fit: cover !important;
}
.descItem{
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 5px;
}
/* ******************************************
caaaaaaaaaaaaaaaaart */
.cartStyle{
  padding-top: 120px !important;
}
/* **********************************************
cart-items-count */
.cart-items-count {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-boder-radius:9px;
  border-radius: 9px;
  -moz-border-radius:9px;
  font-style: 12px;background-color: #ff0000;
  color: white;
  padding: 0 5px;
  vertical-align: top;
  margin-left: 0px;
}